<!-- 
 Copyright (c) 2022 IBM Corporation and others.

 This program and the accompanying materials are made available under the
 terms of the Eclipse Public License v. 2.0 which is available at
 http://www.eclipse.org/legal/epl-2.0.

 SPDX-License-Identifier: EPL-2.0

 Contributors:
     IBM Corporation - initial implementation
-->
<server description="Sample Servlet server">
    <featureManager>
        <feature>jsp-2.3</feature>
        <feature>mpHealth-4.0</feature>
    </featureManager>
    
    <httpEndpoint  host="*" httpPort="9080" httpsPort="9443" id="defaultHttpEndpoint" />
    
    <webApplication id="liberty.gradle.test.wrapper.app" location="liberty.gradle.test.wrapper.app-1.0.war" name="liberty.gradle.test.wrapper.app"/>
</server>
