{
  "root": true,
  "parser": "@typescript-eslint/parser",
  "plugins": [
    "@typescript-eslint"
  ],
  "extends": [
    "eslint:recommended",
    "plugin:@typescript-eslint/eslint-recommended",
    "plugin:@typescript-eslint/recommended"
  ],
  "rules": {
    "@typescript-eslint/semi": "warn",
    "eqeqeq": "warn",
    "@typescript-eslint/no-use-before-define": 0,
    "@typescript-eslint/no-explicit-any": 0,
    "quotes": [
      "error",
      "double",
      {
        "avoidEscape": true
      }
    ]
  },
  "env": {
    "node": true
  },
  "ignorePatterns": [
    "node_modules",
    "out",
    "gulpfile.js"
  ]
}